*{
    margin:0 auto;
    text-align:center;
    padding:0;
    font-family:'Libre Baskervill', serif}
body {
    width:600px;
    border:solid 2px black;
}

/* Header section for home page*/
header img {
    height:250px;
}
header {
    background-color:green;
    height:283px;
    position:relative;
}

ul li {
    display:inline-block;
    padding: 0 35px;
    font-size:larger;
    align-items:baseline;
}

ul li a {
    color:white;
    text-decoration:none;
    font-size:25px;
}
ul li:hover {
    background-color:rgb(53, 180, 53);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
/*End of header section styling*/
h1 {
    font-size: 60px;
    margin: 50px 0;
}

/* Banner section of ball in play */
#banner {
    background-image: url("../images/challenged_ball.jpg");
    height:200px;
    background-repeat:no-repeat;
    position:center top;
    width:95%;
}

/* About OTB FA*/
